.widgetLg{
    flex:4;
    -webkit-box-shadow: 0px 13px 24px -5px  #495481; 
    box-shadow: 0px 13px 24px -5px #495481;

    padding: 20px;

}
.widgetLgTitle{
    font-size: 22px;
    font-weight: 600;
}
.widgetLgImg{
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 10px;
}
.widgetLgButton{
    padding: 5px 7px;
    border: none;
    border-radius: 10px;
}
.widgetLgButton.Approved{
    background-color:#a3f1d4 ;

}
.widgetLgButton.Decline{
    background-color:#e4643d ;
    
}
.widgetLgButton.Pending{
    background-color:#d0db2c ;
    
}
.widgetLgTable{
   width: 100%;
   border-spacing: 20px; 
}
.widgetLgTh{
    text-align:left ;
}
.widgetLgUser{
    display: flex;
    align-items: center;
    font-weight: 600;
}
.widgetLgDate,.widgetLgAmount{
    font-weight: 300;
}