.products{
    margin-top: 30px;
    margin-right: 150px;
    flex: 2;
    padding: 20px;
}
.productTitleContainer{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.productAddButton{
    width: 150px;
    height: 30px;
    border:none;
    padding: 5px;
    background-color: slateblue;
    border-radius: 15px;
    cursor: pointer;
    color: white;
}
.productContainer{
    margin-top:20px;
    display: flex;
}
.productShow{
    flex: 2;
    padding: 20px;
    -webkit-box-shadow: 0px 13px 24px -5px  #495481; 
    box-shadow: 0px 13px 24px -5px #495481;
}
.productUpdate{
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: 0px 13px 24px -5px  #495481; 
    box-shadow: 0px 13px 24px -5px #495481;
    margin-left: 20px;
}
.productShowTop{
    display: flex;
    align-items: center;
}
.productShowImg{
width: 40px;
height: 40px;
border-radius: 50%;
object-fit: cover;
}
.productShowTopTitle{
    display:grid;
   
    grid-template-columns: repeat(3, 1fr);
    margin-left: 20px;


}
.userShowUsername{
    font-weight: 600;
}
.userShowJobTitle{
    font-weight: 300;
}
.userShowBottom{
    margin-top: 20px;
}
.userShowTitle{
    font-size: 14px;
    font-weight: 600;
    color:rgb(175,170,170);
}
.userShowInfo{
    display: flex;
    align-items: center;
    margin:20px 0px;
    color: #444;
}
.userShowIcon{
    font-size: 16px  !important;
}
.userShowInfoTitle{
 margin-left: 10px;   
}
.userUpdateImg{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}
.userUpdateForm{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.userUpdateTitle{
    font-size: 24px;
    font-weight: 600;
}
.userUpdateItem{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.userUpdateItem>label{
margin-bottom: 5px;
font-size: 14px;

}
.userUpdateInput{
    border: none;
    width: 250px;
    height: 30px;
    border-bottom: 1px solid gray;
}
.userUpdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.userUpdateUpload{
    display: flex;
    align-items: center;
    
}
.userUpdateIcon{
    cursor: pointer;
}
.userUpdateButton{
border-radius: 5px;
border: none;
padding: 5px;
cursor: pointer;
background-color: slateblue;
color: white;
font-weight: 600;
}
.customerName{
    margin-top:10px ;
    display: flex;
}
.customerEmail{
    margin-top:3px ;
    display: flex;
    font-size: 15px;
}
.customerPhone{
    margin-top:5px ;
    display: flex;
    font-size: 14px;
}
.iconbox{
    margin-right: 5px;
}
.totalCost{
    margin-top: 8px;
    font-size: 32px;
    text-align: center;
}
.boldtitles{
    font-weight: 600;
    margin-top: 5px;
}
.thintitle{
    font-weight: 300;
}