.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-bottom: 2px;
    background-color: rgb(238, 94, 11);
  }
  
  .navbar-item {
    float: left;
  }
  
  .navbar-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar-item a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: rgb(206, 116, 43);
  }