.minus-cart{
background-color: rgb(255, 127, 7);
width: 35px;
height: 35px;
margin-left: 8px;
cursor: pointer;
}
.remove-cart{
    background-color: rgb(194, 45, 45);
    width: 35px;
height: 35px;
margin-left: 8px;
cursor: pointer;
}
.plus-cart{
    background-color: rgb(255, 127, 7);
    width: 35px;
height: 35px;
margin-left: 8px;
cursor: pointer;
}
.minus-cart-icon{
    color: white;
    font-size: 15px;
    }
    .remove-cart-icon{
        color: white;
        font-size: 15px;
    }
    .plus-cart-icon{
        color: white;
        font-size: 15px;
    }
.buycart{
    width: 80px;
    height: 35px;
    margin-left: 8px;
    background-color: rgb(45, 189, 45);
    color: white;
    cursor: pointer;
}
.clearcart{
    width: 80px;
    height: 35px;
    margin-left: 8px;
    background-color: rgb(194, 45, 45);
    color: white;
    cursor: pointer;
}